In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# fix the plotting issue
%matplotlib inline 


df = pd.read_csv('pre/train.csv')

In [2]:
df.head(10)

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
0,0,170000,NaN,3089,2798058,293,1,1
1,0,170000,NaN,1259,463234,6161,1,2
2,0,170000,NaN,4465,1857485,7434,4,1
3,0,170000,NaN,1004,2038823,977,1,1
4,0,170000,NaN,1887,2015141,3688,1,1
5,0,170000,NaN,3293,1177829,3347,1,1
6,0,170000,NaN,4793,1257450,1876,1,2
7,0,170000,NaN,1456,764204,6086,1,3
8,0,170000,NaN,4465,1438585,2426,2,3
9,0,170000,NaN,985,1750317,5414,1,3

In [92]:
df.describe()

,label,clickTime,conversionTime,creativeID,userID,positionID,connectionType,telecomsOperator
count,3.749528e+06,3.749528e+06,93262.000000,3.749528e+06,3.749528e+06,3.749528e+06,3.749528e+06,3.749528e+06
mean,2.487300e-02,2.418317e+05,242645.358013,3.261575e+03,1.405349e+06,3.702799e+03,1.222590e+00,1.605879e+00
std,1.557380e-01,3.958793e+04,39285.385532,1.829643e+03,8.088094e+05,1.923724e+03,5.744428e-01,8.491127e-01
min,0.000000e+00,1.700000e+05,170005.000000,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,2.116270e+05,211626.000000,1.540000e+03,7.058698e+05,2.579000e+03,1.000000e+00,1.000000e+00
50%,0.000000e+00,2.418390e+05,242106.000000,3.465000e+03,1.407062e+06,3.322000e+03,1.000000e+00,1.000000e+00
75%,0.000000e+00,2.722170e+05,272344.000000,4.565000e+03,2.105989e+06,4.896000e+03,1.000000e+00,2.000000e+00
max,1.000000e+00,3.023590e+05,302359.000000,6.582000e+03,2.805118e+06,7.645000e+03,4.000000e+00,3.000000e+00

In [7]:
df.dtypes

label                 int64
clickTime             int64
conversionTime      float64
creativeID            int64
userID                int64
positionID            int64
connectionType        int64
telecomsOperator      int64
dtype: object

In [ ]:
telePattern = df[['label', 'telecomsOperator']]
import seaborn as sns

In [ ]:
ax = sns.countplot(x ="label", hue="telecomsOperator", data=df)
# teleOp 1 中国联通?

In [ ]:
ax = sns.countplot(x ="label", hue="connectionType", data=df)
# connectionType 1, 2G?

In [ ]:
df['positionID']